<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MTV Project</title>
        <link rel="stylesheet" , href="{% static "css/mystyle.css" %}"/>
    </head>
    <body>
        <h1>Hi, Welcome to MTV Pattern</h1>
        <h2>Here, are our access records:</h2>
        <div class="djangomtv">
            {% if access_records %}
            <table>
                <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
                </thead>

                {% for acc in access_records %}
                <tr>
                    <td>{{ acc.web_name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No Access Records. Table Not Created.</p>
            {% endif %}
        </div>
    </body>
</html>
